<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link  type="text/css" href="{% static 'main/css/Style.css' %}" rel="stylesheet">
    <link  type="text/css" href="{% static 'main/css/Responsive.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" >
    <script src="https://kit.fontawesome.com/6f4051ccb8.js" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/script.js' %}"  defer></script>
    <title>Trow Management Ltd. | Recycling And Refurbishment</title>
  </head>
  <body>
    
    <header>
      <nav>
        <div class="menu-icon">
          <span class="fas fa-bars"></span>
        </div>
        
        <div class="logo">Trow Ltd.</div>
        <div class="nav-items">
          <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
          <li id="dropdown-menu"><a href="#"><i class="fa fa-caret-down"></i>Product Category</a>
            <div class="categories">
              <ul>
                <li><a href="#">Battery</a></li>
                <li><a href="#">Laptop Parts</a></li>
                <li><a href="#">Air Conditioner</a></li>
                <li><a href="#">Refrigrators</a></li>
                <li><a href="#">Generator</a></li>
                <li><a href="#">Motor</a></li>
                <li><a href="#">SmartPhone</a></li>
                <li><a href="#">Stablizer</a></li>
                <li><a href="#">Fan</a></li>
                <li><a href="#">Chips</a></li>
                <li><a href="#">Router</a></li>
                <li><a href="#">CCTV Camera</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#"><i class="fa fa-paper-plane"></i>Careers</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>Contact Us</a></li>
          <li><a href="{% url 'aboutus' %}"><i class="fa fa-info"></i>About us</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'userprofile' user.id %}"><i class="fa fa-user"></i>Profile</a></li>
          <li><a href="{% url 'logout' %}"><i class="fa fa-right-to-bracket"></i>Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}"><i class="fa fa-right-to-bracket"></i>Login</a></li>
          <li><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i>Sign Up</a></li>
          {% endif %}
        </div>

      </nav>
    </header>
    
    
    
  <div class="banner">
    <div class="main-banner">
      <h1>TROW Ltd.</h1>
      <h2>Waste isn't waste until we waste it!</h2>
    </div>
  </div>
  <div class="welcome-user">
    {% if user.is_authenticated %}
      <h1>Welcome {{user.first_name}}</h1>
    {% endif %}
  </div>

  <section class="cuisines"> 
    <h2 class="cuisines-category">Choose What Catches Your Eye</h2>
    <button class="pre-btn"><img src="{% static 'main/img/arrow.png' %}" alt=""></button>
      <button class="nxt-btn"><img src="{% static 'main/img/arrow.png' %}" alt=""></button>
    <div class="cuisines-container">
      
      {% for cuisines_category in cuisines_categories %}
        <div class="cuisines-card">
            <div class="cuisines-image">
              <span class="discount-tag">{{cuisines_category.discount}} off</span>
              {% if cuisines_category.image %}
                <img src="{{ cuisines_category.image.url }}" class="cuisines-thumb" alt="">
              {% else %}
                <img type="file" src="" class="cuisines-thumb" alt="image not availble">
              {% endif %}
                <button class="card-btn">Buy</button>
            </div>
            <div class="cuisines-info">
                <h3>{{cuisines_category.name}}</h3>
                <span class="price">Price Range: {{cuisines_category.price_range}}</span>
                <span class="actual-price">Actual Price: {{cuisines_category.actual_price}}</span>
                {% if cuisines_category.extra_offer %}
                  <p class="cuisines-short-description">{{cuisines_category.extra_offer}}</p>
                {% else %}
                  <p class="cuisines-short-description">No extra offers available right now</p>
                {% endif %}
            </div>
        </div>
      {% endfor %} 
    </div>
  </section>

  </body>
</html>